NODE_ENV=development
PORT=4000
MONGODB_URI=mongodb+srv://gagenikolov3:9VxBK76tRmxXURpY@cluster0.rwe3g.mongodb.net/database2
JWT_ACCESS_SECRET=K8x$mP9%vL2@nQ7&hF4!jR6*wE9$tY3^uI8
JWT_REFRESH_SECRET=B5n$kL8%mP2@vX7&hF9!jR4*wE6$tY1^uI3
CORS_ORIGIN=http://localhost:5173